body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

hr {
    width: 500px;
}

#board {
    width: 400px;
    height: 400px;
    background-color: #595955;
    border: 6px solid #403f3e;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.tile {
    width: 90px;
    height: 90px;
    border: 5px solid #403f3e;
    font-size: 40px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.x2 {
    background-color: #a26769;
    color: #f8f9fa;
}

.x4 {
    background-color: #d4a373;
    color: #f8f9fa;
}

.x8 {
    background-color: #6b705c;
    color: #f8f9fa;
}

.x16 {
    background-color: #cb997e;
    color: #f8f9fa;
}

.x32 {
    background-color: #b5838d;
    color: #f8f9fa;
}

.x64 {
    background-color: #6d597a;
    color: white;
}

.x128 {
    background-color: #355070;
    color: #f8f9fa;
}

.x256 {
    background-color: #588157;
    color: #f8f9fa;
}

.x512 {
    background-color: #7f5539;
    color: #f8f9fa;
}

.x1024 {
    background-color: #8d99ae;
    color: #f8f9fa;
}

.x2048 {
    background-color: #c4b7a6;
    color: #2f2f2f;
}

.x4096 {
    background-color: #5e503f;
    color: #f8f9fa;
}

.x8192 {
    background-color: #2b2d42;
    color: #f8f9fa;
}
